@import './_mixin.scss';
*{
    margin: 0px;
    padding: 0px;
}
html,body{height:100%;background-color: whitesmoke}
#root,.container{@extend body;}
ul,li{list-style: none}
.container{
    display:flex;
    flex-direction: column;
    height: 100%;
    background-color: white;
    .header{
        position: fixed;
        background-color: white;
        top:top(0);
        left: left(0);
        width: w(356);
        height: h(50);
        display: flex;
        align-items: center;
        padding: 0 10px;
        z-index: 1000;
        .headerleft{
            flex: 2;
          
        }
        .headerright{
            flex:8;
            height: h(32);
            border-radius: br(7);
            background: #f0f0f0;
            color: #cfcece;
           
            padding-left: left(9);
            line-height: lh(32)
        }
    }
}

.container>.am-tab-bar{
    position: fixed;
    bottom: 0;
    width: 100%;
    height:50px;
    display: none;
    .am-tab-bar-bar{
        overflow: hidden;
    }

}

.content{
    flex:1;
    height: 100%;
    }

    .Swiper{
        margin-top: top(50);
        height: h(180);
         .slider-list{
          height: h(180) !important;
          * { touch-action: none; } 
        .swiper_img{
            height: h(180);
    
            
        }
   }
    }
  .type{
      .typetop{
        margin:top(20) left(6)  0 0;
        box-shadow:0.10667rem 0.10667rem 0.21333rem rgba(178, 178, 178, 0.1);
          display: flex;
          .img_box{
            margin-left: left(20);
            margin-bottom: bottom(10);
              .type_img{
                     width: w(53);
                     height: h(53);
                    
              }
              .img_title{
                  text-align: center;
                  margin-top: 2px;
                
              }
           
          }
      }
      .typebottom{
          display: flex;
          position: relative;
        //   text-align: center;
          .privilege{
            margin:top(20)  0  bottom(10) left(16);
            position: relative;
              .typebottom_img{
                     width: w(75);
                     height: h(50);
              }
              .item-txt{
                  position: absolute;
                  top:top(-2);
                  width: 100%;
                  line-height: lh(50);
                  text-align: center;
                  color: white;
                  
              }
         
          }
      }
    //  巡回演出
     .active{
         margin: 20px 10px;
         .active-top{
             display: flex;
             justify-content: space-between;
             margin-bottom: bottom(20);
             b{
                 font-size: 20px;
             }
             .mone{
                 color: #999;
                 font-size: 9px;
             }
         }
         
     }
     .lun{
        
     }
     .lun-ul{
        width: 100%;
         overflow-x: auto;
         display: flex; 
         padding-left:0;
       .ul-list{

           .list-img{
               width: w(120);
               height: h(120);
               margin-left:left(10);
               border-radius: 5px;
               
           }
       }
     }
  }

//城市
.city{
    // margin-left: left(10);
    padding-left: h(10);
    margin-right: right(8);
    height: 100%;
    background-color: white;
    .cityheader{
       height: h(45);
       border-bottom: 1px solid silver;
       display: flex;
       line-height: lh(45);
       text-align: center;
       .cityleft{
           flex: 1;
       }
        .citycenter{
            flex: 9;
            font-size: fs(16)
        }
    }
    .citycenter{
        
        .citytitle{
            margin-top: top(15);
            margin-bottom: bottom(10);
            font-size: fs(10);
            color: #999999;
        }
        .nowcity{
            width: w(110);
            height: h(30);
            font-size: fs(14);
            background-color: #f5f5f5;
            text-align: center;
            line-height:  lh(30);
            margin:0 0 bottom(8) rigth(3);
        }
        .redcity{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
        }
        .city_list{
           
            .list-h2{
                font-size: fs(16);
                padding: h(4) 0;
                //  margin-left: h(3);
                margin-left: h(-8);
                padding-left:h(10) ;
                background-color: #f5f5f5;
            }
            .city-li{
                border-bottom: 0.5px solid #e6e6e6;
                padding: h(12)  h(4);
            }
        }
    }
}


//热门演出
.hotshow{
    background-color: white;
    padding-left: h(7);
   .b{
       font-size: h(20)
   }
   .ul-li{
       width: 100%;
       display: flex;
       flex-wrap:wrap;
      margin-top: h(8);
       .list-li{
           width: h(110);
           height: h(170);
        //    border: 1px solid sandybrown;
           margin: h(5) h(5);
           
           .titlt{
            width: h(110);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
           margin-bottom: h(5);
           }
          .list-img{
              width: 100%;
              height: h(125);
              border-radius: h(5);
          }
           
          .time,.address{
              display:inline-block;
            font-size: h(13);
            color: #b3b3b3;
            // width: h(46);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            }
            .time{
                width: h(65);
               }
          
               }
   }
}

// 购物车
.car{
    position: relative;
   background-color: #f6f6f6;
    height: h(659);
    line-height: h(50);
    .carheader{
        height: h(50);
        text-align: center;
        background-color: #fff;
    }
    .carone{
        height: h(80);
        background-color: #fff;
        margin: h(10) 0;
    }
    .carff{
        height: h(150);
        background-color:#fff;
        
        .cartwo{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
             text-align: center;
          
              .one{
                margin-bottom: h(10);
                  width: h(100);
                  height: h(40);
                  border: 1px solid silver;
        }
        
        }
       
      
       
     } 
     .pricelist{
        position: absolute;
        bottom: h(50);
        width: 100%;
        // height: h(50);
        // border: 1px solid red;
        .twoli{
            width: 100%;
            height: h(50);
            border: 1px solid silver;
        }
    }
     .sub{
         height: h(50);
         background-color:#fff;
         position: fixed;
         bottom: 0;
         width: 100%;
         text-align: center;
     }
}

//列表页
  .List{
    margin-top: top(50);
    
    .headerlist{
        font-size: h(13);
    }
}


//详情
.Xiang{
    // width:100%;
//    overflow: hidden;
    .xiangheader{
        position: fixed;
        width: 100%;
        display: flex;
        height: h(50);
        background-color: #fff;
        border-bottom: 1px solid silver;
        align-items: center;
        text-align: center;
        .xheaderleft{
            flex: 2
        }
        .xheadercom{
            flex: 6;
            font-size: h(20);
        }
        .xheaderright{
            flex: 2;
            font-size: 20px;
            
            margin-top: h(-10);
        }
    }
  .haeder{
      height: h(900);
      border-bottom: 1px solid red;
      
      .headertop{
        text-align: center;
          height: h(210);
         background-color: black;
        //  margin-top: h(50);
         .img-top{
            height: h(180);
            // background-color: red;
           .headeimg{
                height: h(150);
                width: h(120);
                margin-top: h(50)

            }
         }
         .img-bottom{
             height: h(60);
             background-color: #fff;
             border-radius: 70%;
         }
      }
      .headerbottom{
          margin: h(15) h(20) 0  h(20);
        //   background-color: #cfcece;
          .headertile{
             
          }
          .headertime{
              font-size: h(18);
              margin: h(10) 0;
          }
          .headerprice{
              color: #ff7919;
              margin: h(10) 0;
              font-size: h(20);
          }
          .hah{
               height: h(30);
               border-bottom: 1px dashed #ccc;
              display: flex;
              justify-content: space-between;
              align-items: center;
          }
          .car{
             
          }
      }
  }
   .bommon{
       position: fixed;
       bottom: 0;
       width:100%;
       height: h(50);
      background-color: #f5f5f5;
       display: flex;
        align-items: center;
        text-align: center;
       .bommonleft{
           flex: 2
       }
       .bommonright{
          height: h(50);
          line-height: h(50);
           flex: 8;
           background-color: #ff7919;
           color: #fff;
           
       }
   }
}